<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797884859033-s4q4vat11pm3kdlopdpng2fq6tptdaao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797884859033-s4q4vat11pm3kdlopdpng2fq6tptdaao</string>
	<key>API_KEY</key>
	<string>AIzaSyAIMl__xJJX2UToyp4rtCcY77rjJ4Pk6Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>797884859033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sddassignment.firebase</string>
	<key>PROJECT_ID</key>
	<string>sdd-assignment-2</string>
	<key>STORAGE_BUCKET</key>
	<string>sdd-assignment-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797884859033:ios:600da01a783a495371ae08</string>
	<key>DATABASE_URL</key>
	<string>https://sdd-assignment-2-default-rtdb.firebaseio.com</string>
</dict>
</plist>